.cardCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.urunEklemeCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urunlerTitle {
  font-size: 1.5rem;
  margin: 0;
}